<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Budget Planner{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo">Budget Planner</div>
                <ul class="nav-links">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'stats' %}">Статистика</a></li>
                        <li><a href="{% url 'wallet_list' %}">Кошельки</a></li>
                        <li><a href="{% url 'category_list' %}">Категории</a></li>
                        <li><a href="{% url 'transaction_list' %}">Записи</a></li>
                        <li><a href="{% url 'transaction_create' %}">Добавить запись</a></li>
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger logout-btn">
                                <i class="fas fa-sign-out-alt"></i> Выйти
                            </button>
                        </form>
                    {% else %}
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'login' %}">Войти</a></li>
                        <li><a href="{% url 'signup' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <!-- Вывод сообщений (например, успешное сохранение формы) -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Блок контента -->
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p></p>
        </div>
    </footer>
</body>
</html>